<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h4>Đại học Cần Thơ</h4>
      <h6>nhaphoc@ctu.edu.vn</h6>
    </div>
    <img src="../../../../assets/logo.png" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Hệ xét tuyển</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/bridge_programs">Liên thông</a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  another menu -->
</mat-nav-list>
